nav.navbar.navbar-dark.bg-dark
    a.navbar-brand(href="/")
        img(src="/img/logo.jpg" width="120px")
    form.form-inline
        a.btn.btn-secondary.my-2.my-sm-0(href="/registerMovie") Register movie